@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

hr {
    color: red;
    max-width: 820px;
    margin: 0 auto;
    margin-top: 16px;
}

body {
    background-color: rgba(0, 0, 0, 0.103);
}

.container {
    max-width: 820px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.bold {
    font-weight: 700;
}



button {
    width: 100px;
    height: 40px;
}

.subtitle {
    margin-left:12px;
    font-size: 24px;
}
/* NAVIGATION*/

nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 24px;
    max-width: 820px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    cursor: pointer;
}

.logo:visited {
    text-decoration: none;
    color: black;
}

.logo:hover {
    color: rgba(0, 0, 0, 0.74);
    text-decoration: underline red;
}

.nav__links {
    display: flex;
    list-style-type: none;
}

.nav__link {
    padding: 12px 24px;
    text-decoration: none;
    color: black;
    margin: 12px;
}

.nav__link:hover {
    background-color: red;
    color: white;
    border-radius: 6px;
}

/* Game */ 

#games {
    background-color: rgba(255, 0, 0, 0.664);
    max-width: 820px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}

.game-img {
   width: 183px;
    height: 275px;
}

.game {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin-left: 12px;
    margin-top: 12px;
   flex-wrap: wrap;
   
}

.sub-games {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    font-size: 24px;
}

.game-info {
    margin: 0 auto;
}